<!DOCTYPE html>
<html>
  <head>
    <!-- 文字エンコードをUTF-8に指定 -->
    <meta charset="utf-8">
    <!-- レンダリングを最新に指定 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- 拡大を禁止 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>ログイン</title>

    <!-- Semantic UI を読み込む -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <!-- Vue.js を読み込む -->
    <script src="https://unpkg.com/vue@2.3.3/dist/vue.js"></script>

    <!-- 共通のCSSファイルを読み込む -->
    <link rel="stylesheet" href="./common/style.css">
  </head>
  <body>
    <!-- Vue.jsで読み込む -->
    <div id="app">
<common-menu current="login"></common-menu>
      <div class="ui main container">
        <!-- 基本的なコンテンツはここに記載する -->
        <div class="ui segment">
            <form class="ui large form"  v-on:submit.prevent="submit">
                <!-- signupは新規登録 -->
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" placeholder="ID" input v-model="user.userId">
                    </div>
                </div>
                <div class="field" >
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="text" placeholder="Password" input v-model="user.password">
                    </div>
                </div>
                <div class="field" v-if="mode=='signup'">
                    <div class="ui left icon input" >
                        <i class="tag icon"></i>
                        <input type="text" placeholder="NickName" input v-model="user.nickname">
                    </div>
                </div>
                <div class="field" v-if="mode=='signup'">
                    <div class="ui left icon input">
                        <i class="calendar icon"></i>
                        <input type="text" placeholder="AGE" input v-model="user.age">
                    </div>
                </div>
                <button class="ui green fluid button" type="submit">
                    {{ submitText }}
                </button>
            </form>
        </div>
        <button class="ui grey fluid button" type="submit" v-on:click="toggleMode">
            {{ toggleText }}
        </button>
      </div>

    </div>
    <script src="./common/menu.js" charset="utf-8"></script>
    <!-- APIのURLを読み込むJavaScriptファイル -->
    <script src="./common/config.js" charset="utf-8"></script>
    <!-- 各ページで使うJavaScriptファイルはこの行より下で読み込む -->
    <script src="./js/login.js" charset="utf-8"></script>
  </body>
</html>
